body {
    background-color: #c2ded1;
    font-family: 'Nunito', sans-serif;
}

/* untuk mengubah memerlukan id pada html utk sebagai selector */
#navbar {
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #c2ded1;
}

/* sebagai selector dari id yaitu menggunakan class nav-link */
#navbar .nav-link {
    color: white;
}

#navbar .nav-link:hover {
    color: #354259;
}

#navbar .navbar-brand {
    color: #354259;
    font-size: 1.5rem;
}

#title-head {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background-color: #c2ded1;
    /* transition: background 500ms; */
}

.blurb h2 {
    color: #354259;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #3f4e4f;
    font-weight: 100;
    font-size: 1.125rem;
    /* line-height untuk menentukan ukuran spasi */
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}


/* media untuk menjadikan tampilan dilayar lebih responsif pada ukuran tertentu */
@media (max-width: 1200px) {
    #title-head h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}